* {
    border: 1px solid red;
    color: #F8F8F8;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
}

#display {
    height: 1.3em;
    max-width: 5.3em;    /* size of the parent */
    margin: auto;       /* center the display to the calculator */
    font-size: 5em;
}

button {
    border-radius: 50px;
    border: none;
    background-color: #333333;
    font-size: 4em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    margin: 2px;
}
button:hover {
    background-color: #FFFFFF50;
}
.center {
    padding-top: 5px;  /* align the number center vertically */
}

.gray {
    background-color: #A5A5A5;  /* gray buttons */
    color: black;
}

.orange {
    background-color: #F89704;  /* orange buttons */
}

table {
    margin: auto; /* center the calculator table */
}

#zero {
    width: 3.1em;   /* adjust width of zero */
}
